[submodule "public"]
	path = public
	url = git@github.com:palnabarun/palnabarun.github.io
	branch = master

[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/palnabarun/hugo-goa
	branch = master
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/palnabarun/hugo-split-theme
