[submodule "public"]
	path = public
	url = git@github.com:palnabarun/palnabarun.github.io
	branch = master

[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/palnabarun/hugo-goa
	branch = master
